# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencies
/node_modules/
/vendor/

# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Debug Files
debug.log
error_log

# Temporary Files
*.tmp
*.bak
*.swp
